.bar {
  background: #0082ba;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
}
.bar:hover,
.bar .active {
  background-color: #59cbe8;
  color: #000;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  background: #003865;
  color: white;
  margin-bottom: 60px;
}
a,
a:hover {
  text-decoration: none;
  color: #e87722;
}
.container h1 {
  color: #e87722;
}
.accordion {
  background: #0082ba;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
}
.accordion:hover,
.accordion .active {
  background-color: #59cbe8;
  color: #000;
}
.accordion-hover {
  background: #0082ba;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
}
.accordion-hover:hover,
.accordion-hover .active {
  background-color: #59cbe8;
  color: #000;
}
.panel {
  padding: 0 18px;
  background-color: #59cbe8;
  color: #000;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.content {
  padding: 4px 18px 10px;
}
.active {
  font-style: italic;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #003865;
}
h2 {
  color: #e87722;
}
.orange {
  color: #ffa300;
}
.accordion-hover-dark {
  background: #0082ba;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  color: white;
  text-align: center;
  background: #003865;
}
.accordion-hover-dark:hover,
.accordion-hover-dark .active {
  background-color: #59cbe8;
  color: #000;
}
.accordion-hover-dark:hover {
  background-color: #003865;
  color: white;
}
.panel-dark {
  padding: 0 18px;
  background-color: #59cbe8;
  color: #000;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #003865;
  color: #ffa300;
}
