extends layout

block content
  p.text-center Bucknell is a Liberal Arts College located in Lewisburg, PA
  button.accordion-hover SAT Scores
  .panel
    .content
      ul
        li: p Critical Reading: 600
        li: p Math: 620
        li: p Writing: 610
        li: p R Evidence-based Reading and Writing: 610
        li: p R Math: 620
  .bar ACT Composite: 28
  button.accordion-hover Admission Rates
  .panel
    .content
      p Out of 10.25k applicants, 3.2k were admitted.
        strong That's a 31% acceptance rate.
