extends layout

block content
  .text-center
    h3 Recreation
    p Fitness center
    p Hiking
    p Bouldering
    p Kayaking
    h5 Bucknell has sports teams as well. See 
      a(href="athletics") Athletics
