extends layout

block content
  .text-center
    p Division 1 Patriot League
      br
      em.text-muted Won the Patriot League Presidents' Cup 18 out of 23 years awarded
    button.accordion-hover.text-center Basketball
    .panel
      .content
        p Made it to the NCAA Tournament as a 14 seed this year by winning the Presidents' Cu
