doctype html

html
  head
    title= title
  body
    h1= title
    p.
      You have reached the homepage of the ExpressJS starter pack written by
      Saturnus Numerius
    p
      | To change this page, edit
      |
      em views/home.pug
