extends layout

block content
  .text-center
    p 32 States (Including DC) and 49 Countries Represented
    h2 Ethnicity
    button.accordion-hover-dark.text-center Colored Students
    .panel-dark
      .content
        span.orange 21.7%
  .text-center
    h2 Citizenship
    button.accordion-hover-dark.text-center Non-US Citizens
    .panel-dark
      .content
        span.orange 6.1%
    button.accordion-hover-dark.text-center Dual-Citizens and Permanent Residents
    .panel-dark
      .content
        span.orange 7.3%
  .text-center
    h2 Legacies and First-Gen
    button.accordion-hover-dark.text-center First-Gen Students
    .panel-dark
      .content
        span.orange 10.5%
    button.accordion-hover-dark.text-center Legacies
    .panel-dark
      .content
        span.orange 7-9%
